go 1.21.0

use ./lesson_0

use ./lesson_1

use ./lesson_2/greetings

use ./lesson_2/hello

use ./lesson_3/postgres_example_0

use ./lesson_3/postgres_example_1

use ./lesson_3/postgres_example_2

use ./lesson_3/postgres_example_3

use ./lesson_4/working_with_pointers_00

use ./lesson_5

use ./random_exploration

use ./tour_of_go_lessons/hash_maps00

use ./tour_of_go_lessons/hash_maps01

use ./tour_of_go_lessons/functions00

use ./tour_of_go_lessons/functions01

use ./tour_of_go_lessons/functions02

use ./tour_of_go_lessons/structs_and_methods00

use ./tour_of_go_lessons/structs_and_methods01

use ./tour_of_go_lessons/structs_and_methods02

use ./tour_of_go_lessons/interfaces00

use ./tour_of_go_lessons/interfaces01

use ./tour_of_go_lessons/interfaces02

use ./tour_of_go_lessons/interfaces03

use ./tour_of_go_lessons/interfaces04

use ./tour_of_go_lessons/interfaces05
