go 1.21.0

use ./lesson_0

use ./lesson_0/data_structures

use ./lesson_0/new_make_functions

use ./lesson_0/maps_as_sets

use ./lesson_1

use ./lesson_2/greetings

use ./lesson_2/hello

use ./lesson_3/postgres_example_0

use ./lesson_3/postgres_example_1

use ./lesson_3/postgres_example_2

use ./lesson_3/postgres_example_3

use ./lesson_4/working_with_pointers_00

use ./lesson_5

use ./lesson_6/http_servers_and_handlers00

use ./lesson_6/http_servers_and_handlers01

use ./lesson_6/http_servers_and_handlers02

use ./lesson_6/http_server_and_default_mux

use ./lesson_6/testing_handlers00

use ./lesson_6/testing_handlers01

use ./lesson_6/http_response00

use ./lesson_6/http_handlers_and_logs00

use ./lesson_6/middleware_and_handlers00

use ./random_exploration

use ./tour_of_go_lessons/hash_maps00

use ./tour_of_go_lessons/hash_maps01

use ./tour_of_go_lessons/functions00

use ./tour_of_go_lessons/functions01

use ./tour_of_go_lessons/functions02

use ./tour_of_go_lessons/structs_and_methods00

use ./tour_of_go_lessons/structs_and_methods01

use ./tour_of_go_lessons/structs_and_methods02

use ./tour_of_go_lessons/interfaces00

use ./tour_of_go_lessons/interfaces01

use ./tour_of_go_lessons/interfaces02

use ./tour_of_go_lessons/interfaces03

use ./tour_of_go_lessons/interfaces04

use ./tour_of_go_lessons/interfaces05

use ./tour_of_go_lessons/type_assertion00

use ./tour_of_go_lessons/type_assertion01

use ./tour_of_go_lessons/stringer00

use ./tour_of_go_lessons/stringer01

use ./tour_of_go_lessons/errors00

use ./tour_of_go_lessons/errors01

use ./tour_of_go_lessons/reader00

use ./tour_of_go_lessons/reader01

use ./tour_of_go_lessons/reader02

use ./tour_of_go_lessons/reader03

use ./tour_of_go_lessons/reader04

use ./tour_of_go_lessons/images00

use ./tour_of_go_lessons/images01

use ./tour_of_go_lessons/generics00

use ./tour_of_go_lessons/generics01
