go 1.21.0

use ./lesson_0

use ./lesson_1

use ./lesson_2/greetings

use ./lesson_2/hello

use ./lesson_3/postgres_example_0

use ./lesson_3/postgres_example_1

use ./lesson_3/postgres_example_2

use ./lesson_3/postgres_example_3

use ./lesson_4/working_with_pointers_00
